*{
    margin: 0%;
    padding: 0%;
}
:root{
    --gradiente:background-image: linear-gradient(to right, #4B086d, #ACC0FE);
    --roxoEscuro:#330066;
    --roxo:#522d80;
    --roxo2:#8724F9;
    --teste:#9933ff;
    --roxoMedio:#7851a9;
    --roxoLuz:#ae87d0;
    --roxoClaro:#c9a0dc;
    --rosa:#CD00FD;
    --branco:#f2f2f2;
    --cinzaEscuro:#212121;
    --cinza:#303030;
    --cinzaClaro:#424242;
}
/* Uso geral */
body{
    margin: 20px;
    background-color: var(--cinzaEscuro);
    color: var(--branco);
}
section{
    padding: 10px;
}
h2{
    font-weight: 700;
    color: white;
}


/* About me */
.aboutMe{
    padding: 10px;
    margin: auto;   
}
.aboutMe img{
    border-radius: 200%;
    margin: auto;
    border: 4px solid var(--rosa);
    max-width: 300px;
    max-height: 300px;
}
.aboutMe .col{
}
.aboutMe p{
    margin: auto;
}
#fotoPerfil{
    margin: auto;
    padding: 20px;
    max-width: 500px;
    text-align: center;
}
#fotoPerfil p{
    font-size: 40px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    color: var(--roxo2);
    
    font-weight: 700;
}
#fotoPerfil span{
    color: var(--rosa);
    font-weight: 700;
}
#textoDoPerfil{
    background-color: var(--teste);
    max-height: 250px;
    border-radius: 10px;
    padding: 20px;
}



/* Education */
#education{
    background-color: var(--cinza);
    border-radius: 5px;
    margin-bottom: 30px;
}

/* Experience */



/* skills */

/* Languages */
/* Gradiente */
.gradiente{
    background-image: linear-gradient(to right, #4B086d, #ACC0FE);
}


/* Classes globais */
.flex{
    display: flex;
    flex-wrap: wrap;
}
.red{
    background-color: red;
    border: 2px solid;
    padding: 50px;
}
.orange{
    background-color: orange;
    border: 2px solid;
    padding: 20px;
}
.cubo{
    background-color: black;
    padding: 50px;
    max-width: 50px;max-height: 50px;
    margin: 0px 20px;
    color: white;
}