// Roxa
$roxo: #4b086d;
$roxo200:#e040fb;
$roxo400:#d500f9;
$roxo500:#aa00ff;
$roxo600: #8e24aa;
$roxo700:#7b1fa2;
$roxo800:#6a1b9a;
$rosa:#511069;


// Roxo escuro
$roxoEscuro400:#651fff;
$roxoEscuro500:#673ab7;
$roxoEscuro600:#5e35b1;
$roxoEscuro700:#512da8;
$roxoEscuro800:#4527a0;
$roxoEscuro900:#311b92;


// gratient topo
$roxotop:#03001e;
$roxoMedio:#7303c0;
$roxoInferior:#ec38bc;



// Cinzas
$cinzaEscuro:#262626;
$cinza:#303030;
$cinza:#303030;
$cinzaMedio:#383838;
$cinzaClaro:#585858;
$cinzaLuz:#626262;