@import "paletas";


// media geral
body{
    background-color: $cinzaEscuro;
    margin: auto;
    max-width: 1300px;
    display: grid;
    grid-template-rows: 10vh 100vh 10vh;
    header{
        flex: grid;
        justify-content: center;
        align-items: center;
        background-image: url(../../img/img2.jpg);
        width: 100%;
        height: 400px;
        nav{
            position: fixed;
            width: 98%;
            ul{
                display: flex;
                list-style: none;
                .portfolio{
                    p{
                        font-size: 30px;
                        color: white;
                    }
                }
                li{
                    padding: 5px;
                    margin: auto;
                    
                    a{
                        color: white;
                        text-decoration: none;
                        padding: 10px;
                        font-size: 20px;
                        &:hover{
                            background-color: $roxoEscuro400;
                            border-radius: 5px;
                            color: white;
                        }
                        
                    }
                }
        
            }
            .menu{
                background-color: $roxo600;
                border-radius: 10px;
                padding: 5px;
                width: 400px;
                display: grid;
                float: right;
                clip-path: circle(25px at 372px 40px);
                ul{
                    display: grid;
                    text-align: center;
                }
                a{
                    display: flex;
                    justify-content: end;
                    text-decoration: none;
                    margin-right: 10px;
                    margin-top: 20px;
                    i{
                        font-size: 30px;
                        color: white;
                    }
                }
            }
            
        }
    }
    main{
        margin-top: 200px;
        section{
            background-color: $cinza;
            max-width: 1000px;
            padding: 20px;
            width: 100%;
            margin: auto;
            margin-top: 100px;
            h1{
                color: white;
            }
        }
        #aboutMe{
            article{
                display: flex;
                flex-wrap: wrap;
                height: 1px;
                justify-content: center;
                height: auto;
                .foto_aboutMe{
                    max-width: 480px;
                    background-color: greenyellow;
                }
                .text_aboutMe{
                    max-width: 480px;
                    background-color: green;
                }
            }
        }
    }
    footer{

    }
}




// Media para web
@media (min-width: 800px) and (max-width:2522px) {
    header{
        nav{
            p{
                display: none;
                
            }
            ul{
                .portfolio{
                    p{
                        display: block;
                        font-size: 30px;
                        color: white;
                    }
                }
                li{
                    display: grid;
                }
            }
            #menu{
                display: none;
            }
        }
        
    }
}


// Media tablet
@media (max-width: 798px) {
    header{
        nav{
            p{
                display: block;
                font-size: 30px;
                color: white;
                display: flex;
                margin: 20px;
            }
            ul{
                .portfolio{
                    p{
                        display: block;
                        font-size: 30px;
                        color: white;
                    }
                }
                li{
                    display: none;
                }
            }
            #menu{
                display: grid;
            }
        }
        
    }
    main{
        margin-top: 200px;
        section{
            background-color: $cinza;
            max-width: 1000px;
            padding: 20px;
            width: 100%;
            margin: auto;
            margin-top: 100px;
        }
        #aboutMe{
            .foto_aboutMe{
                background-color: greenyellow;
            }
            .text_aboutMe{
                background-color: green;
            }

        }
    }
}


// Media para mobile
@media (max-width: 415px) {
    header{
        nav{
            ul{
                .portfolio{
                    display: none;
                }
            }
            .menu{
                display: grid;
            }
        }
    }
}



